* * * * * cd /application && php artisan schedule:run >> /var/log/cron.log 2>&1
* * * * * cd /application && php artisan queue:work >> /var/log/cron.log 2>&1
# An empty line is required at the end of this file for a valid cron file.
